@import "../../../assets/sass/variables";

:host {

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    display: block;
    margin: 0 auto;
    text-align: center;

    .loader {
        border: 1.5px solid $layout-section-background;
        border-top: 1.5px solid $brand-primary;

        border-radius: 50%;
        width: 60px;
        height: 60px;
        display: inline-block;
        animation: spin .65s linear infinite;
    }
}
